body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/im1.jpg");
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.btnConnect {
  padding-left: 45%;
  padding-top: 20%;
}

.btnLogin {
  margin-left: 45%;
  margin-top: 10px;
  height: 35px;
  width: 175px;
  background-color: skyblue;
}
/* #main-login{
  border: 2px solid green;
} */
.login{
  width: 500px;
  display: block;
  /* justify-content: center; */
  height: 500px;
  margin-left: -150px;
  margin-top: -150px;
  border-radius:20px;
  background-color: #282C37;
  box-shadow:0px 0px 10px 5px  rgb(56, 56, 56);
}
#login-button{
  height: fit-content;
  /* background-color: ; */
  background: transparent;
  border:#CDCBD6 2px solid ;
  color: white;
}
#log{
  display: flex;
  justify-content: center;
  /* border: 2px blue solid; */
  margin-top: 10px;
}
#image{
  text-align: center;
}
#image img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 50px;
  margin-top: 10px;
  mix-blend-mode: color-dodge;
}
#btns{
  text-align: center;
}
#btndiscon{
  position: relative;
  display: flex;  
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: end;
  padding:  15px ;
  height: 6%;
}
#sign-up{
  color: white;
  display: flex;
  justify-content: center;
  /* border: red 2px solid; */
  height: fit-content;
  margin-top: -50px;
}
#btncreate{
   padding: 45px;
   padding-top: 10px;
   display: flex;
   justify-content: center; 
  }
  #input1{
    padding-top: 40px;
    display: flex;
    justify-content: center;
  }
  #input2{
    display: flex;
    justify-content: center;
  }
  #input3{
    padding-top: 30px;
    display: flex;
    width: 510px;
    justify-content: center;
  }
  #publickey{
    padding-top: 10px;
    display: flex;
    justify-content: center;
  }
  #btnsend{
    padding-top: 20px;
    display: flex;
    margin-top: 4%;
    justify-content: center; 
    width: 510px;
    height: 50px;
   }
  #accept{
    width: auto;
    min-width: 500px;
    display: flex;
    justify-content: center;
  }
   #send{
    padding: 5px;
    height: 36%;
    width: 600px;
    min-height: 366px;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #outer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  #qr-code{
    display: flex;
    justify-content: center;
    border-radius: 30%;
    position: absolute;
    top: 250;
    left: 800;
  }
  #listItems{
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: fit-content;
    min-width: 230px;
    border-right: 1px solid black;
  }
  #Transaction_table{
    /* padding-top: 0%; */
    /* margin-top: -51%; */
    position: relative;
    float: right;
    /* margin-top: -900px;
    margin-left: 310px; */
  }
  #body_container {
    display: flex;
    height: 90.7%;
    border-top: 1px solid black;
  }
 #accept_outer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 #about_outer {
  display: flex;
  height: 98%;
  width: 100%;
  border: 10px solid green;
 }
 #about-us {
  max-height: 99%;
  flex: 2; /* Make both sections grow to fill the available space */
}